In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.neighbors import NearestNeighbors

In [20]:
df = pd.read_csv("Resources/Clean/aggregated_review_scores.csv")

In [21]:
df.head()

,beer_id,beer_name,beer_style,look,smell,taste,feel,overall,estimated_ibu,availability,abv,brewery_id,brewery_name,city,state,country,types
0,203086,Hopper House Double IPA,American Imperial IPA,3.326923,3.346154,3.288462,3.307692,3.307692,83,Year-round,8.0,43368,Spindletap Brewery,Houston,TX,US,"Brewery, Bar"
1,296880,Juiceton,New England IPA,4.330000,4.300000,4.330000,4.320000,4.310000,60,Rotating,8.5,43368,Spindletap Brewery,Houston,TX,US,"Brewery, Bar"
2,319844,Rauchtabout,Irish Dry Stout,3.583333,3.500000,3.500000,3.416667,3.500000,35,Rotating,4.5,43368,Spindletap Brewery,Houston,TX,US,"Brewery, Bar"
3,356864,Hat Trick,New England IPA,4.200000,4.200000,4.100000,4.150000,4.200000,60,Rotating,7.0,43368,Spindletap Brewery,Houston,TX,US,"Brewery, Bar"
4,334690,Tiny Gypsies,New England IPA,4.500000,4.535714,4.571429,4.464286,4.571429,60,Rotating,6.5,43368,Spindletap Brewery,Houston,TX,US,"Brewery, Bar"

In [22]:
for col in df:
    if col == "beer_style":
        vals = df[col].value_counts()
        
        for indx in vals.index:
            val = vals[indx]
            if val < 25:
                df.loc[df[col] == indx, 'beer_style'] = "Other"

In [23]:
vals

American IPA               405
American Pale Ale (APA)    135
Belgian Saison             129
American Imperial IPA      127
American Porter             69
                          ...
German Eisbock               1
Russian Kvass                1
Belgian Fruit Lambic         1
Belgian Gueuze               1
Finnish Sahti                1
Name: beer_style, Length: 104, dtype: int64

In [24]:
df.beer_style.value_counts()

Other                          633
American IPA                   405
American Pale Ale (APA)        135
Belgian Saison                 129
American Imperial IPA          127
American Blonde Ale             69
American Porter                 69
American Amber / Red Ale        66
American Imperial Stout         63
American Stout                  63
American Wild Ale               62
Belgian Witbier                 54
English Sweet / Milk Stout      41
American Brown Ale              40
German Hefeweizen               39
American Pale Wheat Ale         38
German Kölsch                   38
Leipzig Gose                    34
American Black Ale              32
Berliner Weisse                 32
German Pilsner                  32
German Märzen / Oktoberfest     31
Russian Imperial Stout          30
American Lager                  29
Fruit and Field Beer            29
American Cream Ale              27
Name: beer_style, dtype: int64

In [26]:
df.to_csv("test.csv")